<p>listado works!</p>

<mat-divider></mat-divider>
<div fxLayout="row wrap">
  <div fxFlex="20">
    <mat-card *ngFor="let heroe of heroes">

      <mat-card-title>
        {{heroe.superhero}}
      </mat-card-title>
      <mat-card-subtitle>
        {{heroe.alter_ego}}
      </mat-card-subtitle>
      <img class="Small-pic" mat-card-image src="assets/heroes/{{ heroe.id }}.jpg">
      <mat-card-content>
        <h3> {{heroe.publisher}}  </h3>
        <p>
          <strong> Primera Aparicion </strong>{{heroe.first_appearance}}
          <br>
          <strong>Personaje: </strong> {{heroe.characters}}
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button color="warn">
          leer mas ...

        </button>
        <button mat-button color="info">
          Modificar
        </button>

      </mat-card-actions>

    </mat-card>
  </div>

</div>


<!-- <ul>
  <li *ngFor="let heroe of heroes">
    {{heroe.superhero}}
  </li>
</ul> -->

